body {
    height: 100vh;
    background: linear-gradient(150deg, rgb(151, 88, 135), rgb(201, 183, 183));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

li {
    list-style: none;
    

}
.links li a {
    color: rgb(224, 58, 202);
}
.links li a:hover {
    color: rgb(252, 252, 252);
    background-color: rgb(7, 7, 7);
}

a {
    text-decoration: none;
    color: rgb(224, 58, 202);
    font-size: 1rem;
    background: linear-gradient(150deg, rgb(109, 60, 97), rgb(12, 12, 12));
    border-radius: 20px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

a:hover {
    color: rgb(247, 245, 246);
    background-color: rgb(7, 7, 7);
}


header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;

}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: rgb(8, 8, 8);
    color: rgb(255, 0, 170);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    display: none;
}

.action_btn:hover{
    scale: 1.0s;
    color: aliceblue;
}

.action_btn:active {
    scale: 0.95;
}

/*Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: linear-gradient(150deg, rgb(27, 26, 27), rgb(248, 35, 202));
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: auto;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Formulario */

#principal {
    width: 1000px;
    max-width: 800px;
    height: 1000px;
     margin: 0;
     padding: 0;
     margin: auto;   
}

#titulo {
    
    color: #e62a2a;
    background: linear-gradient(150deg, rgb(27, 26, 27), rgb(248, 35, 202));
}

#corpo {
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   
}

#dados1 {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid;
    background: linear-gradient(150deg, rgb(27, 26, 27), rgb(248, 35, 202));
    display: flex;
    justify-content: center;
}
    
#dados2 {
    width: 500px;
    display: flex;
    text-align: center;
    background: linear-gradient(150deg, rgb(27, 26, 27), rgb(248, 35, 202));
    border-radius: 10px;
    align-items: center;
    border: 1px solid;
    justify-content: center;
}
    
#rodape {
    display: flex;
    width: 550px;
    height: 100px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid;
   
    background: linear-gradient(150deg, rgb(27, 26, 27), rgb(248, 35, 202));
}
.cxnome {
    width: 250px;
    height: 20px;
}

.cxdata {
    width: 230px;
    height: 20px;
}

.cxnomemae {
    width: 260px;
    height: 20px;
}

.cxnomepai {
    width: 260px;
    height: 20px;
}

.cxemail {
    width: 350px;
    height: 20px;
}

#ddd {
    width: 40px;
    height: 20px;
}
#telefone {
    width: 80px;
    height: 20px;
}
#ramal {
    width: 80px;
    height: 20px;
}
.btn1 {
    width: 100px;
    height: 50px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    margin-top: 25px;
}

.btn2 {
    width: 100px;
    height: 50px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    margin-top: 25px;
}
 input[type="checkbox"] {
    display: table-column;
    margin: 0 auto;
    padding: 0 10px;
 }

 .field2,
 .field1 {
    border: none;
 }

 #titulo {
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: bolder;
 }

 #subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: bolder;
 }

 #rodape p {
    color: rgb(184, 142, 180);
    text-align: center;
    margin-top: 20px;

}
 

 @media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu{
        display: block;
        z-index: 10;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    #banner {
        display: none;
    }
    .container {
        flex: 1 0 100%;
    }
    .infoForm {
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
        margin-left: 100px
        ;
    }
}