* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(150deg, rgb(233, 17, 179), rgb(156, 199, 241));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

hr {
    margin: 10px 0;
    color: #ff00ff;
}

li {
    list-style: none;
    

}
.links li a {
    color: rgb(224, 58, 202);
}
.links li a:hover {
    color: rgb(252, 252, 252);
    background-color: rgb(7, 7, 7);
}

a {
    text-decoration: none;
    color: rgb(224, 58, 202);
    font-size: 1rem;
    background: linear-gradient(150deg, rgb(109, 60, 97), rgb(12, 12, 12));
    border-radius: 20px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

a:hover {
    color: rgb(247, 245, 246);
    background-color: rgb(7, 7, 7);
}

/*Header*/

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;

}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: rgb(8, 8, 8);
    color: rgb(255, 0, 170);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    display: none;
}

.action_btn:hover{
    scale: 1.0s;
    color: aliceblue;
}

.action_btn:active {
    scale: 0.95;
}

/*Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: linear-gradient(150deg, rgb(27, 26, 27), rgb(248, 35, 202));
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: auto;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Hero -- Cards*/

#hero2 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 20px;
    border-radius: 20px;
    
    
}

#hero2 figure {
    display: inline-block;
    justify-content: space-between;
}

#hero2 a img {
    height: 250px;
    border-radius: 20px;
}

#hero a img {
    border-radius: 20px;
}



#hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 20px;
    justify-content: space-between;
    margin: auto;
}

figcaption {
    text-align: center;
}


#hero h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

#hero figure {
    display: inline-block;
}



.rodape { 
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}

/* banner */ 

#banner img {
    width: 100%;
    margin-top: 25px;
    height: 350px;
}

/*Sections para texto */

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

#info {
    width: 400px;
    height: auto;
    background: linear-gradient(150deg, rgb(27, 26, 27), rgb(248, 35, 202));
    margin-top: 10px;
    margin-left: 120px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
    

}
  
#info2 {
    width: 400px;
    height: auto;
    background: linear-gradient(150deg, rgb(27, 26, 27), rgb(248, 35, 202));
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 120px;
    margin-bottom: 10px;
    text-align: center;
    
}

#info3 {
    max-width: 1000px;
    height: auto;
    background: linear-gradient(150deg, rgb(27, 26, 27), rgb(248, 35, 202));
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    padding: 20px;
    
}


   
   
    
    

.infoForm {
    display: flex;
    width: 250px;
    height: 250px;
    align-items: center;
    margin-top: 130px;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}

.infoForm img {
    height: 250px;
    border-radius: 20px;
}



 
#info2 h2 {
    color: rgb(255, 0, 170);
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#info2 p {
    font-size: 16px;
    line-height: 1.5;
    color: pink;
    margin: 10px;
}

#info3 p {
    font-size: 16px;
    line-height: 1.5;
    color: pink;
    margin: 10px;
}

#info3 h2 {
    color: rgb(255, 0, 170);
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}


#info h2 {
    color: rgb(255, 0, 170);
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#info p {
    font-size: 16px;
    line-height: 1.5;
    color: pink;
    margin: 10px;
}

#info img {
    margin-top: 30px;
    border-radius: 20px;
}

#info2 img {
    margin: 0 30px 0 30px;
    border-radius: 20px;
}

#info3 img {
    border-radius: 20px;
}


#rodape p {
    color: rgb(184, 142, 180);
    text-align: center;

}

/*Top25*/

.top5{
    text-align: center;
    padding: 16px;
    margin-bottom: 50px;
    height: auto;
    
}

.title__art{
    margin-top: 5%;
    color: rgb(167, 17, 129);
}

.list_art {
    display: flex;
}

.list__artistas_1{
    display: flex;
    padding: 16px;
    background: linear-gradient(150deg, rgb(243, 62, 198), rgb(34, 31, 31));
    border: 2px solid #ff00ff;
    justify-content: space-between;
    margin: 0 5rem;
}

.list__artistas_1 li , li a{
    text-decoration: none;
    color: white;
   
    
}

.list_art a:hover{
    text-decoration: none;
    font-size: 17px;
    color: #ff00ff;
    
    

}




/*Rodape*/

#rodape {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background: linear-gradient(150deg, rgb(243, 62, 198), rgb(34, 31, 31));
    
}

.p_rodape {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 50%;
    
}


/*Responsividade*/

@media(max-width: 956px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
    .top5 {
        display: none;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    #banner {
        display: none;
    }
    .container {
        flex: 1 0 100%;
    }
    .infoForm {
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
        margin-left: 100px
        ;
    }
    .top5 {
        display: none;
        align-items: center;
        justify-content: center;
    }
}

